<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Leadership Academy</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="module1.html">Module 1</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="module1.html">Home</a></li>
						<li><a href="#">Topics</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>Understanding Leadership vs. Management</h2>
				<p>and Why Each Matters</p>
			</section>
        
        
        <!-- Two -->
			<section id="two" class="wrapper style2 special">
				<div class="container">
					<header class="major">
						<h2>Module Objectives</h2>
				
					</header>
					<section class="profiles">                            
                            
<ol>
                            
<li>  Describe the role leaders played in historical study and how this information was shared through the ages.</li>
<li> 	Provide examples of Management and Leadership behaviors according to Kotter and will be able to share two examples of why it is important to have a balance of both management and leadership within an organization. </li>
<li> 	Provide a working definition of “leadership” based on the definition provided in Northouse and will be able to break down and explain the definition in terms of four components.</li> 
<li> 	Explain the basis of leadership trait research, Skill Theory, and will be able to name one strength and one criticism of each. </li>
<li> 	Outline the connection between task and relationship in leadership styles based on the work of Blake and Mouton as outlined in Northouse. </li>
<li> 	Define transformational leadership using the Four I’s of Transformational Leadership according to Bass and Burns as outlined in Northouse. </li>
<li> 	Explain three critical steps to developing leadership skills according to Sashkin and Sashkin. </li>
<li> 	Build on what they learned today in order to further develop the learners’ leadership.</li>                           
                            </ol>

                            
					</section>
					
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="container">
					<header class="major">
						<h2>Topics</h2>
						<p>The topics in this module are to provide understanding of the distinctions between Leadership and Management and why each is important in today’s workplace. </p>
					</header>
					<div class="row 150%">
						<div class="4u 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color1 fa-cloud"></i>
								<h3>Topic 1: Brief History of Leadership Study</h3>
								<p>Leadership has been around for a very long time - in fact it is one of the oldest occupations and yet study of leadership is relatively new. </p>
                                <ul class="actions">
					<li>
						<a href="module1-topic1.html" class="button big">Learn More</a>
					</li>
				</ul>
							</section>
						</div>
						<div class="4u 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color9 fa-desktop"></i>
								<h3>Topic 2: Management vs. Leadership</h3>
								<p>“…leadership and management are two distinctive and complementary systems of action. Each has its own function and characteristic activities. Both are necessary for success in an increasingly complex and volatile business environment.” (Wren, 1995) pg. 114</p>
                                 <ul class="actions">
					<li>
						<a href="#" class="button big">Learn More</a>
					</li>
				</ul>
							</section>
						</div>
						<div class="4u$ 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color6 fa-rocket"></i>
								<h3>Topic 3: Leadership Defined</h3>
								<p>Finish the sentence: “Leadership is__________.”  </p>
                                 <ul class="actions">
					<li>
						<a href="#" class="button big">Learn More</a>
					</li>
				</ul>
							</section>
						</div>
					</div>
                    <div class="row 150%">
						<div class="4u 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color1 fa-cloud"></i>
								<h3>Topic 4: Leadership Research Review </h3>
								<p>Reflect on the best and the worst leader you have ever encountered.</p>
                                        <ul class="actions">
					<li>
						<a href="#" class="button big">Learn More</a>
					</li>
				</ul>
							</section>
						</div>
						<div class="4u 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color9 fa-desktop"></i>
								<h3>Topic 5: Leadership Approaches</h3>
								<p>The development of leadership theory over time has led to a variety of leadership approaches. This topic will explore transformational leadership from two perspectives (Four I’s (Bass &amp; Burns) and 5 Practices of Exemplary Leadership (Kouzes &amp; Posner).  </p>
                                        <ul class="actions">
					<li>
						<a href="#" class="button big">Learn More</a>
					</li>
				</ul>
							</section>
						</div>
						<div class="4u$ 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color6 fa-rocket"></i>
								<h3>Topic 6: Leadership Development</h3>
								<p>How have you tried to develop your leadership skills in the past?
This topic explores what you have observed about leadership development - what works, what does not? 
</p>
                                <ul class="actions">
					<li>
						<a href="#" class="button big">Learn More</a>
					</li>
				</ul>
							</section>
						</div>
					</div>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
									<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy;2020 Kirkwood</li>
                                <li>Module 1: Understanding Leadership vs. Management and Why Each Matters</li>
							</ul>
						</div>
						
					</div>
				</div>
			</footer>

	</body>
</html>