<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Leadership Academy</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="module1.html">Module 1</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="module1.html">Home</a></li>
						<li><a href="#">Topics</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>Understanding Leadership vs. Management</h2>
				<p>Topic 1: Brief History of Leadership Study </p>
			</section>
        
        
        <!-- Two -->
			<section id="two" class="wrapper style2 special">
				<div class="container">
					<header class="major">
						<h2>Objectives</h2>
				
					</header>
					<section class="profiles">                            
                            
<ol>
                            
<li>Describe the role leaders played in historical study.</li> 
<li>Share the role of storytelling in the study of leaders across history.</li> 
<li>Outline the three focus areas of modern leadership study from 1910-present.
</li>                           
                            </ol>

                            
					</section>
					
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="container">
					<header class="major">
						<h2>Leadership</h2>
						
					</header>
                    
                    
                    <section><p>Leadership has been around for a very long time- in fact it is one of the oldest occupations and yet study of leadership is relatively new. The term “Leader” appears as early as 1300 but the term “leadership” appears much later in the 19th century </p>
                    
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/urrYhnaKvy4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    
                    
                    </section>
                    
                </div> 
					
			</section>


                <!-- Two -->
			<section id="two" class="wrapper style2 special">
				<div class="container">
					<header class="major">
						<h2>Leadership Phases</h2>
				
					</header>
					<section style="text-align: left;">                            
                            
<ul>
                            
<li>Trait period from about 1910-WWII
    <ul><li>High level summary: focused on identification of traits- qualities and characteristics of great leaders. Sometimes known as Great Man theory.</li></ul>
</li>
<li>Behavior period from WWII to the late 1960’s
<ul><li>High level summary: focused on what great leaders do/leadership action and behavior</li></ul></li>
<li>Contingency Period from late 1960’s to present
  <ul><li>High level summary: matching the leader to the situation- led to a variety of approaches to leadership and prescriptions for how to lead</li></ul></li>
 </ul>

                            
					</section>
					
				</div>
			</section>
        
        
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
									<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy;2020 Kirkwood</li>
                                <li>Module 1: Understanding Leadership vs. Management and Why Each Matters</li>
							</ul>
						</div>
						
					</div>
				</div>
			</footer>

	</body>
</html>